doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')
    script(type='text/javascript', src='/js/jquery-1.7.2.js')
    script(type='text/javascript', src='/js/bootstrap.js')
  body!= body